*{
    margin: 0;
    padding: 0;
}

#img-logo{
    width: 15rem;
}
#img-logo-small{
    width: 200px;
}
.card{
    width: 400px;
    height: 400px;
}
.footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a, .partage-catologue a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover, .partage-catologue a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }
  .mtb-100{
      margin: 100px 0;
  }
  .mtb-40{
    margin: 40px 0;
}
  .money-img{
      width: 700px;
      height: 450px;
  }