*{
    margin: 0;
    padding: 0;
}

#img-logo{
  width: 7rem;
}
#img-logo-small{
    width: 200px;
}
.card{
    width: 400px;
    height: 400px;
}
.footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a, .partage-catologue a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover, .partage-catologue a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }
  .mtb-100{
      margin: 100px 0;
  }
  .mtb-40{
    margin: 40px 0;
}
  .money-img{
      width: 700px;
      height: 450px;
  }
 li{
   list-style: none;
 }
 #myBar {
  width: 50%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center; 
  line-height: 30px; 
  color: white;
}
.ul-contributor li{
  margin: 20px 100px 0 0;
}
nav a{
  margin-right: 30px;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  font-size: 23px;
}
h1, h2, h3{
  font-family: 'Inconsolata', monospace;
  margin: 48px 0;
  font-size: 44px;
}
