*{
    margin: 0;
    padding: 0;
}
.card-category {
    background-image: url("img/bg-soap.jpeg");
    background-size: cover;
    background-position: center;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-top: 100px;
  }
  .img-vision{
      width: 150px;
      text-align: center;
  }
.letters{
 font-family: 'Inconsolata', monospace; 
 font-size: 58px;
}
  .card{
      /* width: 14rem; */
      border: none;
  }
.vision-intro{
    margin: 50px auto;
    width: 45rem;
    
}
/* .paris-bk-img{
    width: 250px;
    height: 350px;
} */
.footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a{
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }
  #img-logo{
      width: 7rem;
  }
  .card-1{
      width: 400px;
  }
  .card-p-bko{
      margin: 100px 0;
  }
  .ml7 {
    position: relative;
    font-weight: 800;
    font-size: 1.7em;
  }
  .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }
  .mtb-100{
    margin: 200px 0;
}
nav a{
  margin-right: 30px;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  font-size: 23px;
}
h2, h3{
  font-family: 'Inconsolata', monospace;
  margin: 48px 0;
  font-size: 44px;
}
.ceo{
  width: 80%;
}
.location-banniere {
  text-align: center;
  padding: 192px 48px;
  background: rgba(0, 0, 0, .4) url("img/location.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  background-blend-mode: multiply;
}
.location-p{
  font-family: 'Inconsolata', monospace; 
  font-size: 38px;
}
.location-title{
  font-family: 'Inconsolata', monospace; 
  font-size: 58px;
}